#hyplan depedencies
datetime
geopandas
logging
numba
numpy
gdal
pandas
pint
pydantic
pydantic_pint
pymap3d
pyproj
requests
rtree
shapely
simplekml
skyfield
sunposition
typing
tabulate
dubins
folium
matplotlib
networkx